*
!.gitignore
!.bashrc
!.vimrc
!.inputrc
!README.md
!.muttrc
!.newsbeuter/
!.newsbeuter/config
!.newsbeuter/urls
!.irssi/
!.irssi/config
!.w3m
!.w3m/keymap
!.lftp/
!.lftp/rc
!.Xresources
!.tmux.conf
!.config/
!.config/openbox/
!.config/openbox/rc.xml
!.tmuxinator/
!.tmuxinator/hi.yml
!.config/openbox/autostart
!.mailcap
